.full-height {
    max-height: 100vh; /* Set a maximum height based on the viewport height */
  }
  
  .chat-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }
  
  .recent-chat-users {
    flex: 2.5;
    
    overflow-y: auto; /* Enable scrolling only for this panel */
  }
  
  .chat {
    border-right: 1px solid black;
    border-left: 1px solid black;
   
    flex: 5;
    overflow: hidden; /* Disable scrolling for the chat area */
  }
  
  .online-users {
   
    flex: 2.5;
    overflow-y: auto; /* Enable scrolling only for this panel */
  }
  
  html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
  }
  
  