.full-height {
    max-height: 100vh; /* Set a maximum height based on the viewport height */
  }
  
  .chat-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }
  
  .recent-chat-users {
    flex: 2.5;
    
    overflow-y: auto; 
  }
  
  .chat {
    border-right: 1px solid black;
    border-left: 1px solid black;
    flex: 5;
    overflow-y: auto;
    background-image: url('../../public/asset/chat.jpg');
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    margin: 0;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
  }
  
  .online-users {
   
    flex: 2.5;
    overflow-y: auto; /* Enable scrolling only for this panel */
  }
  
  html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
  }
  
  